<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <nav class="Navbar">
        <div class="Navbar_Logo">
          <div class="Navbar_Logo_Left">
            <h1>&lt;/point zero&gt;</h1>
          </div>
          <div class="Navbar_Logo_Right">
            <div class="Navbar_Logo_Right_Circle bg-1"></div>
            <div class="Navbar_Logo_Right_Circle bg-2"></div>
            <div class="Navbar_Logo_Right_Circle bg-3"></div>
          </div>
        </div>
        <div class="Navbar_Right">
          <p>service</p>
          <p>product</p>
          <p>about</p>
          <p>blog</p>
          <p>contact</p>
        </div>
      </nav>
      
      <div class="App">
         <div class="App_Box">
             <div class="App_Box_Left">

             </div>
             <div class="App_Box_Right">
                 <h2>app development</h2>
                 <p>
                    from b2b or b2e apps for enterprises, small businesses, and startups, we have a proven track record of offering high-impact result driven mobile application development services. our dedicated team focuses on the best practices for native android app development, native ios app development, and cross-platform app development to create next-gen mobile applications using the latest technology stack.
                 </p>

             </div>
         </div>
         <div class="App_Box">
            <div class="App_Box_Left">
                <p>ios development</p>
                <p>android development</p>
                <p>cross platfrom apps</p>
            </div>
            <div class="App_Box_Right">
                <p>
                    we offer complete ios application development services from concept to completion. our team has years of experience in implementing new features, and working closely with multiple clients during the development process to overcome these challenges. If you’re looking for an application that works perfectly on the latest ios devices and operating system, pointzero is perfect it team for you
                </p>

            </div>
        </div>  
      </div>
    
</body>
</html>