{% extends "webapp/base.html" %} {% load static %} {% comment %} integrating CSS
{% endcomment %} {% block css %} {% endblock css %} {% comment %} integrating
CSS {% endcomment %} {% block title %} Blog {% endblock title %} {% comment %}
integrating HTML {% endcomment %} {% block start_content %}
<div class="Blogs">
  <div class="Blogs_Top">
    <h1>latest blog posts</h1>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unkno
    </p>
  </div>

  <div class="Blogs_Posts">
    <div class="Blogs_Posts_Item">
      <div class="Blogs_Posts_Item_Image"></div>
      <div class="Blogs_Posts_Item_Bottom">
        <div class="Blogs_Posts_Item_Bottom_Top">
          <div class="Blogs_Posts_Item_Bottom_Top_Left">
            <i
              class="fa-solid fa-calendar-days"
              className="Blogs_Posts_Item_Bottom_Top_Left_Logo"
            >
            </i>
            <p>10, feb 2022</p>
          </div>
          <div class="Blogs_Posts_Item_Bottom_Top_Right">
            <i
              class="fa-solid fa-user"
              className="Blogs_Posts_Item_Bottom_Top_Right_Logo"
            ></i>
            <p>dalludai</p>
          </div>
        </div>
        <div class="Blogs_Posts_Item_Bottom_Heading">
          <h2>nepal, palatable usa: a long vacay weekend in thamel</h2>
        </div>
        <div class="Blogs_Posts_Item_Bottom_End">
          <p>read more</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock start_content %} {% comment %} integrating HTML {% endcomment %} {%
comment %} integrating JAVASCRIPT {% endcomment %} {% block js %} {% endblock js
%} {% comment %} integrating JAVASCRIPT {% endcomment %}
